
body{
    background-color: #988dae;
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
    justify-items: center;
    /* text-align: center; */
    color: #4B0082;
}

.container
{
    justify-items: center;
    /* z-index: 2; */
    position: relative;
    top: 200px;
    width: 100px;
    height: 500px;
}

.container h1 
{
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: bold;
    justify-items: center;
    color: #4B0082;
    border-radius: 10px;
    border: 2px solid #4B0082;
}

.banner-img
{
border: 2px solid #4B0082;
display: grid;
grid-template-columns: 1fr 1fr ;
background-color: #e4f8c9;
width: 700px;
height: 500px;
position: relative;
bottom: 150px;
left: 20px;
border-radius: 10px;
}

.boxone
{
    background-color: #e4f8c9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-top: 60px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /* border: 2px solid #4B0082; */
    /* margin: 30px;  */
}
.boxtwo
{
    background-color: #e4f8c9;
    display: flex;
    flex-direction: column;
    /* margin-left: 10px;  */
    justify-content: flex-start;
    margin: 50px 0;
    color: #DA70D6;
    line-height: 1.6;
}

#title
{
    display: flex;
    color:#4B0082;
    font-family: "Playfair Display";
    font-weight: 800;
    text-align: center;
    position: absolute;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 15px;
}

#desc
{
    display: flex;
    color:#4B0082;
    font-family: "Playfair Display";
    font-weight: 400;
    /* text-align: center; */
    position: relative;
    top: 20px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 5px;
    
}

#price
{
    display: flex;
    color:#4B0082;
    font-family: "Playfair Display";
    font-weight: 400;
    /* text-align: center; */
    position: relative;
    top: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    
}

#rating
{
    display: flex;
    color:#4B0082;
    font-family: "Playfair Display";
    font-weight: 400;
    position: relative;
    top: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    
}

#prev
{
    width: 70px;
    height: 30px;
    position: relative;
    bottom: 200px;
    background-color: #988dae;
    color: #e4f8c9;
    border-radius: 5px;
    border-color: #6A0F8A;
}

#next
{
    width: 70px;
    height: 30px;
    position: relative;
    left: 80px;
    bottom: 230px;
    background-color: #988dae;
    color: #e4f8c9;
    border-radius: 5px;
    border-color: #6A0F8A;
}
